*.jl.cov
*.jl.*.cov
*.jl.mem
*.bson
.vscode/
.DS_Store
.CondaPkg/
scripts/weights/
scripts/Artifacts.toml
# copied from README.md
docs/src/index.md 

# manifests
docs/Manifest.toml
Manifest.toml

# docs theme
_flux-theme

